@import "reset.scss";
@import "base.scss";

@import "../component/gallery/create-gallery/create-gallery.scss";


body {
  background: $brand-secondary;
}

a{
  text-decoration: none;
}

.input-std {
  border-radius: 7px;
  text-align: center;
}
